<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>forum</title>
  <link rel="stylesheet" href="https://crg.eti.br/crg.css">
</head>
<body>
  <div class="container">

      <ui>
        {{ range .Topics }}
          <li><a href="/forum/{{ .Slug }}">{{ .Title }}</a><br />
            {{ .Description }}
            <hr />
          </li>
          {{ $p_slug := .Slug }}
          {{ if .Topics }} <!-- devia ser recursiva para pegar todos os subtopicos -->
            <ul>
              {{ range .Topics }}
              <li><a href="/forum/{{ $p_slug }}/{{ .Slug }}">{{ .Title }}</a><br />
                {{ .Description }}
                <hr />
              </li>
              {{ end }}
            </ul>
          {{ end }}
        {{ end }}
      </ui>  



  </div>
</body>

</html>
